h1{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: blue;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: orange;
    font-family: Impact;
}

.lorem-paragraph{
    background-color: rgb(4, 216, 198);
    padding: 2rem;
    color: rgb(222, 223, 219);
    text-align: center;
    border-top: 2px solid darkblue;
    border-left: 2px solid yellow ;
    border-right: 2px solid red;
    border-bottom: 2px solid green;
}